h1{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}
p{
    font-size: x-large;
    font-family: fantasy;
    color: green
    background-color: burlywood;
}
p.text{
    font-style: italic;
}

